@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
body{
    font-family: 'Lato', sans-serif;
    background-color: hsl(216, 65%, 11%);
    color: white;
}
.overall-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    line-height: 0.5;
}
.main-heading{
    font-size: 2rem;
    font-weight: 700;
    color: white;
}
.second-heading{
    font-size: 1.22rem;
    font-weight: 400;
    color: #cfcfcf;
}
.hello{
    font-size: 1.2rem;
    font-weight: 300;
    color: #829467;
}
.my-work{
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
.my-work-header{
    color: white;
    text-align: left;
    font-size: 1.5rem; 
    margin-bottom: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}
.card-1{
    background-color: #0c2f3d;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    width: 100%;
    text-align: left;
}
.card-1-image{
    width: 100%;
    border-radius: 10px;
}
.card-1-heading{
    color: white;
    margin-top: 10px;
}
.card-1-description{
    color: white;
}
.card-1-link{
    color: #829467;
    text-decoration: none;
    font-weight: bold;
}
.card-2{
    background-color: #0c2f3d;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    width: 100%;
    text-align: left;
}
.card-2-image{
    width: 100%;
    border-radius: 10px;
}
.card-2-heading{
    color: white;
    margin-top: 10px;
}
.card-2-description{
    color: white;
}
.card-2-link{
    color: #829467;
    text-decoration: none;
    font-weight: bold;
}
.view-all{
    background: transparent;
    border: 2px solid #c5c5a5;
    color: #c5c5a5;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.writings{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 40px;
}

.writings-heading {
    font-size: 2rem;
    color: #f5f5f5;
    margin-bottom: 20px;
    display: inline-block;
    padding-bottom: 5px;
}

.writings-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.writing-card {
    background-color: #0c2f3d;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
    text-align: left;
    transition: transform 0.3s ease-in-out;
}

.writing-card:hover {
    transform: scale(1.05);
}

.writing-image {
    width: 100%;
    border-radius: 8px;
}

.writing-info {
    margin-top: 10px;
}

.writing-heading {
    font-size: 1.2rem;
    color: #c5c5a5;
    margin-bottom: 5px;
}

.writing-description {
    font-size: 0.9rem;
    color: #dcdcdc;
}

.writing-read-time{
    font-size: 0.9rem;
    color: #dcdcdc;
}

.view-all-btn {
    background-color: transparent;
    border: 2px solid #c5c5a5;
    color: #c5c5a5;
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.view-all-btn:hover {
    background-color: #c5c5a5;
    color: #0c2f3d;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #0c2f3d;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    top: 0;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #c5c5a5;
}

.profile-name {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #ffffff;
}

.profile-profession{
    margin-top: 20px;
    font-size: 1rem;
    color: #ffffff;
}

.sidebar-menu ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    width: 100%;
    margin-top: 30px;
}

.sidebar-menu ul li {
    text-align: center;
    margin: 10px 0;
}

.sidebar-menu ul li a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 1rem;
    padding: 10px;
    display: block;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

.sidebar-menu ul li a:hover {
    background: #c5c5a5;
    color: #0c2f3d;
}

.sidebar-social-media {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sidebar-social-media a img {
    width: 30px;
    transition: transform 0.3s ease-in-out;
}

.sidebar-social-media a:hover img {
    transform: scale(1.2);
}

.social-icons{
    font-size: 24px;
    color: #c5c5a5;
    text-decoration: none;
    margin: 10px 0;
    padding: 12px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.social-icons:hover{
    background-color: #c5c5a5;
    color: #0c2f3d;
    transform: scale(1.1);
}

.get-in-touch-section {
    padding: 40px 20px;
    margin: 10px auto;
    width: 80%;
    max-width: 600px;
    text-align: left;
}

.get-in-touch-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.get-in-touch-section p {
    font-size: 16px;
    margin-bottom: 20px;
}

.book-a-session-button {
    display: inline-block;
    background-color: transparent;
    color: #c5c5a5;
    border: 2px solid #c5c5a5;
    padding: 12px 20px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

.book-a-session-button:hover {
    background-color: #c5c5a5;
    color: #0c2f3d;
    transform: scale(1.05);
}

.footer {
    padding: 20px;
    margin-top: 40px;
}

.footer p {
    color: #829467;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-icon {
    font-size: 20px;
    color: #829467;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.footer-icon:hover {
    color: #829467;
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .main-heading{
        font-size: 1rem;
        font-weight: 700;
        color: white;
    }

    .second-heading{
        font-size: 0.6rem;
        font-weight: 400;
        color: #cfcfcf;
    }

    .hello{
        font-size: 0.7rem;
        font-weight: 300;
        color: #829467;
    }

    .my-work{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
    }

    .card {
        flex-direction: row;
        justify-content: center;
    }

    .card-1{
        width: 45%;
    }

    .card-2{
        width: 45%;
    }

    .writing-card {
        width: 45%;
        flex-direction: row;
        text-align: left;
    }

    .writing-info {
        margin-left: 10px;
    }

    .sidebar {
        display: none;
        position: fixed;
        left: 0;
        top: 50px;
        width: 200px;
        background: white;
        padding: 20px;
        box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    }
}